<h1>Login Form</h1> 
  
    <form action="saveData" method="POST"> 
        <div> 
             Enter your Username    : <input type="text"
                                name="username"> <br> <br>
			Enter your password    : <input type="text"
                                name="password"> <br> <br>
            <input type="submit" value="Login">&nbsp;&nbsp;{{fullname}}  
        </div> 
    </form> 
     <a href="./../forget.html" class="btn btn-info" role="button">Forget Password</a>

    <a href="./../Register.html" class="btn btn-info" role="button">New User</a>
